<%= stylesheet_link_tag 'index', :media => "all" %>

<div class="tweets-container">
<h3>Tweet一覧</h3>

<h3>投稿を検索</h3>
 <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

  <%= link_to "新規投稿へ", new_tweet_path %>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% @tweets.each do |t| %>
      <div class="tweet">
      <%= t.user.email %>
        <div class="main-box">
          <div class="left-container"><%= t.body %></div>
          <div class="right-container">
            <%= link_to "詳細", tweet_path(t.id) %>
            <%= link_to "編集", edit_tweet_path(t.id) %>
            <%= link_to "削除", tweet_path(t.id), method: :delete %>
          </div>
        </div>
          <p class="time"><%= t.created_at %></p>
      </div>
    <% end %>
  </div>